<css th:fragment="meta" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <title>老婆 ლ(′◉❥◉｀ლ) 我爱你 </title>
    <meta http-equiv="X-UA-Compatible" content="IE=11,chrome=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/static/favicon.ico}"/>
    <link rel="stylesheet"  type="text/css"  th:href="@{/static/js/layui/css/layui.css}">
</css>