<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <css th:replace="utils/meta-ui-inc::meta"></css>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>详情<a href="javascript:history.go(-1);" class="layui-btn layui--btn-sm">返回</a></legend>
</fieldset>
<div class="layui-fluid">
    <fieldset class="layui-elem-field">
        <legend>信息</legend>
        <div class="layui-field-box">
            <table class="layui-table">
                <tr>
                    <td width="15%" align="right">游戏名称：</td>
                    <td width="35%" id="gameName"></td>
                    <td width="15%" align="right">角色名称：</td>
                    <td width="35%" id="roleName"></td>
                </tr>
                <tr>
                    <td width="15%" align="right">游戏账号：</td>
                    <td id="gameAccount"></td>
                    <td width="15%" align="right">服务器：</td>
                    <td id="serverFarm"></td>
                </tr>
                <tr>
                    <td align="right">备注：</td>
                    <td colspan="3" id="remarks"></td>
                </tr>
            </table>
        </div>
    </fieldset>

    <br><br><br>
    <fieldset class="layui-elem-field">
        <legend>详情</legend>
        <div class="layui-field-box">
            <div class="layui-form-item">
                <a href="javascript:void(0);" id="add" class="layui-btn">新增</a>
            </div>
            <table class="layui-table" id="table" lay-filter="tableFilter"></table>
            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                    <a href="javascript:void(0)" class="layui-btn layui-btn-danger layui-btn-sm" lay-event="delete">删除</a>
                </div>
            </script>
        </div>
    </fieldset>
</div>

<div id="addDiv" style="display: none;">
    <div class="layui-fluid">
        <br>
        <form class="layui-form" id="form">
            <!--父id-->
            <input type="hidden" name="gamesId" id="gamesId" th:value="${gamesId}">

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">内容：</label>
                <div class="layui-input-block">
                    <textarea id="content" name="content" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>
            <!--操作-->
            <div class="layui-form-item" style="text-align: center">
                <a href="javascript:void(0);" id="save" class="layui-btn">提交</a>
                <input type="reset" class="layui-btn layui-btn-primary" value="重置">
            </div>
        </form>
    </div>
</div>

<javascript th:replace="utils/js-inc::js"></javascript>
<script>
    layui.use(['table','form','layer','jquery','laydate'],function () {
        var table = layui.table, form = layui.form.layer = layui.layer, $ = layui.$, laydate = layui.laydate;

        var gamesId = $("#gamesId").val();
        //查询主表详情
        var ret = postData("/games/getGamesById",{"id":gamesId});
        if(ret.code==200){
            $("#gameName").html(ret.data.gameName);
            $("#roleName").html(ret.data.roleName);
            $("#gameAccount").html(ret.data.gameAccount);
            $("#serverFarm").html(ret.data.serverFarm);
            $("#remarks").html(ret.data.remarks);

        }

        table.render({
            elem:'#table',
            url:'/games/getGamesRecordPage',
            id:'games_detail_table',
            where:{
                gamesId:gamesId,
            },
            limits:[20,50,100,150,200,1000],
            cols:[
                [
                    {field:'xuhao',type:'numbers',title:'序号',width:80},
                    {field:'content',title:'内容'},
                    {fixed: 'right', title:'操作', toolbar: '#toolbarDemo', width:150}
                ]
            ],
            page:true
        });
        var active = {
            reload:function () {
                //执行重载
                table.reload('games_detail_table',{
                    page:{curr:1},//重新载入，从第1页开始
                    where:{gamesId:gamesId,}
                });
            }
        };
        //数据操作
        table.on('tool(tableFilter)',function (obj) {
            var data = obj.data;
            if(obj.event=='update'){
                //编辑
                layer.msg("编辑"+data.name);
            }else if(obj.event=='delete'){
                //删除
                layer.confirm('真的删除么?', function(index){
                    var ret = postData("/games/deleteGamesRecordById",{"id":data.id});
                    if(ret.code==200){
                        layer.msg("删除成功！");
                        active.reload();
                    }else{
                        layer.alert(ret.msg);
                        return;
                    }
                });
            }
        });

        //新增
        $("#add").click(function () {
            layer.open({
                type:1,
                title:'新增',
                skin:'layui-layer-rim',
                area:['700px','260px'],
                offset:'100px',
                content:$("#addDiv"),
            });
        });
        //保存
        $("#save").click(function () {
            var content = $("#content").val();
            if(content=="" || content.length>500){
                layer.alert("请输入500字以内的内容,且不能为空！");
                return false;
            }
            var ret = postData("/games/saveGamesRecord",$("#form").serialize());
            if(ret.code==200){
                parent.layer.msg("操作成功！");
                layer.closeAll();
                active.reload();
                $("#form")[0].reset();
            }else{
                layer.alert(ret.msg);
            }
        });


    });
</script>
</body>
</html>