<!DOCTYPE html>
<html lang="en">
<head>
    <css th:replace="utils/meta-ui-inc::meta"></css>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>游戏娱乐</legend>
</fieldset>
<div class="layui-fluid">
    <br>
    <div>
        <form class="layui-form">
            <div class="layui-form-item">
                <a href="javascript:void(0);" id="add" class="layui-btn">新增</a>
            </div>
            <div class="layui-form-item" style="text-align: right">
                <!-- 内容搜索 -->
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input id="searchParam" placeholder="请输入搜索内容" class="layui-input">
                    </div>
                    <a href="javascript:void(0);" class="layui-btn" id="searchBtn" data-type="reload">搜索</a>
                </div>

            </div>
        </form>
    </div>
    <div>
        <table class="layui-table" id="table" lay-filter="tableFilter"></table>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <a href="javascript:void(0)" class="layui-btn layui-btn-sm" lay-event="detail">详情</a>
                <a href="javascript:void(0)" class="layui-btn layui-btn-danger layui-btn-sm" lay-event="delete">删除</a>
            </div>
        </script>
    </div>
</div>

<div id="addDiv" style="display: none;">
    <div class="layui-fluid">
        <br>
        <form class="layui-form" id="form">
            <!--游戏名称-->
            <div class="layui-form-item">
                <label class="layui-form-label">游戏名称：</label>
                <div class="layui-input-block">
                    <input name="gameName" id="gameName" placeholder="请输入游戏名称" class="layui-input">
                </div>
            </div>
            <!-- 角色名称 -->
            <div class="layui-form-item">
                <label class="layui-form-label">角色名称：</label>
                <div class="layui-input-block">
                    <input id="roleName" name="roleName" placeholder="请输入角色名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">游戏账号：</label>
                <div class="layui-input-block">
                    <input id="gameAccount" name="gameAccount" placeholder="请输入游戏账号" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">游戏密码：</label>
                <div class="layui-input-block">
                    <input id="password" name="password" placeholder="请输入游戏密码" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">服务器：</label>
                <div class="layui-input-block">
                    <input id="serverFarm" name="serverFarm" placeholder="请输入服务器" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注：</label>
                <div class="layui-input-block">
                    <textarea id="remarks" name="remarks" placeholder="请输入备注" class="layui-textarea"></textarea>
                </div>
            </div>
            <!--操作-->
            <div class="layui-form-item" style="text-align: center">
                <a href="javascript:void(0);" id="save" class="layui-btn">提交</a>
                <input type="reset" class="layui-btn layui-btn-primary" value="重置">
            </div>
        </form>
    </div>
</div>

<javascript th:replace="utils/js-inc::js"></javascript>
<script>
    layui.use(['table','form','layer','jquery','laydate'],function () {
        var table=layui.table,form=layui.form.layer=layui.layer,$=layui.$,laydate=layui.laydate;
        /*laydate.render({
            elem: '.date'
        });*/
        lay('.date').each(function(){
            laydate.render({
                elem: this
                ,trigger: 'click'
            });
        });
        table.render({
            elem:'#table',
            url:'/games/getGamesPage',
            where:{
              gameName:$("#searchParam").val(),
            },
            id:'game_table',
            even:true,
            loading:true,
            cols:[
                [
                    {field:'xuhao',type:'numbers',title:'序号',width:80},
                    {field:'gameName',title:'名称',width:200,unresize: true},
                    {field:'roleName',title:'角色',width:260,totalRow:true},
                    {field:'gameAccount',title:'游戏账号',width:200},
                    {field:'password',title:'游戏密码',width:200},
                    {field:'serverFarm',title:'服务器',width:200},
                    {field:'remarks',title:'备注'},
                    {fixed: 'right', title:'操作', toolbar: '#toolbarDemo', width:200}
                ]
            ],
            page:true
        });

       var active = {
           reload:function () {
               var name=$("#searchParam").val();
               var startTime=$("#startTime").val();
               var endTime=$("#endTime").val();
               //执行重载
               table.reload('game_table',{
                   page:{
                       curr:1//重新载入，从第1页开始
                   },
                   where:{
                       gameName:name,
                   }
               });
           }
       };
       //数据操作
       table.on('tool(tableFilter)',function (obj) {
           var data = obj.data;
           if(obj.event=='detail'){
               //编辑
               href("/games/toGamesDetails?gamesId="+data.id)
           }else if(obj.event=='delete'){
               //删除
               layer.confirm('删除后不可恢复，真的删除么?', function(index){
                   var ret = postData("/games/deleteGamesById",{"id":data.id});
                   if(ret.code==200){
                       layer.msg("删除成功！");
                       active.reload();
                   }else{
                       layer.alert(ret.msg);
                       return;
                   }
               });
           }
       });

       $("#searchBtn").on('click',function () {
           var type = $(this).data('type');
           active[type] ? active[type].call(this) : '';
       });

       //新增
       $("#add").click(function () {
          layer.open({
             type:1,
             title:'新增',
             skin:'layui-layer-rim',
             area:['700px','520px'],
             offset:'100px',
             content:$("#addDiv"),
          });
       });
       //保存
       $("#save").click(function () {
           var gameName=$("#gameName").val();
           var roleName=$("#roleName").val();
           var gameAccount=$("#gameAccount").val();
           var password=$("#password").val();
           var serverFarm=$("#serverFarm").val();
           var remarks = $("#remarks").val();
           if(gameName=="" || gameName.length>100){
               layer.alert("请输入100字以内的游戏名称，且不能为空！");
               return false;
           }
           if(roleName=="" || roleName.length>50){
               layer.alert("请输入50字以内的角色名称，且不能为空！");
               return false;
           }
           if(gameAccount==""|| gameAccount.length>100){
               layer.alert("请输入100字以内的游戏账号，且不能为空！");
               return false;
           }
           if(password==""|| password.length>100){
               layer.alert("请输入100字以内的游戏密码，且不能为空！");
               return false;
           }
           if(serverFarm==""|| serverFarm.length>100){
               layer.alert("请输入100字以内的服务器，且不能为空！");
               return false;
           }
           if(remarks!=null){
               if(remarks.length>1000){
                   layer.alert("请输入1000字以内的备注！");
                   return false;
               }
           }
           var ret = postData("/games/saveGames",$("#form").serialize());
           if(ret.code==200){
               layer.msg("操作成功！");
               layer.closeAll();
               active.reload();
               $("#form")[0].reset();
           }else{
               layer.alert(ret.msg);
           }
       });
    });
</script>
</body>
</html>